#projectDescriptionBox {
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #settingsBox {
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #projectDescriptionBoxHeader{
    margin: auto;
    text-align: left;
    overflow: auto;
  }
  #imageListBox{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #imageBox{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #imageButtons{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #weatherBox{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #logo{
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #copyright{
    margin: auto;
    text-align: left;
    overflow: auto;
    padding: 20px;
  }
  #background{
    
  }
