/* Raleway and Merriweather are custom fonts installed in HTML */

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
}

h2 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 24px;
}

p {
  font-family: 'Merriweather', 'sans-serif';
  font-size: 18px;
}

img {
  height: 500px;
  width: 800px;
  border: solid;
  border-width: 5px;
}

.carousel {
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 10px;
}

#projectDescriptionBox {
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #settingsBox {
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #projectDescriptionBoxHeader{
    margin: auto;
    text-align: left;
    overflow: auto;
  }
  #imageListBox{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #imageBox{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #imageButtons{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #weatherBox{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #logo{
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
  }
  #copyright{
    margin: auto;
    text-align: left;
    overflow: auto;
    padding: 20px;
  }
  #background{
    
  }
